.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .form-group label {
    display: flex;
    align-items: center;
    margin-bottom: 0; /* Remove margin-bottom for form-group */
  }
  
  .form-group input[type="checkbox"] {
    margin-right: 5px; /* Add some space between checkbox and text */
  }
  
  .form-group span {
    white-space: nowrap; /* Prevent text from wrapping */
  }
  
  /* Adjust alignment of checkbox */
  .form-group input[type="checkbox"] {
    vertical-align: middle; /* Align checkbox vertically in line with text */
  }
  
  
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .signin-link {
    margin-top: 20px;
    text-align: center;
  }
  
  .signin-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .signin-link a:hover {
    text-decoration: underline;
  }
  