body{
  padding: 0;
  margin:0;
  background-color: rgb(71, 116, 213);
}

.heading{
  text-align: center;
  font-style: italic;
}

.form-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}


.form-list-items {
  margin-bottom: 20px; 

}
button {
  margin-top: 20px; 
}